{% extends 'base.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Kiwitech Employee Jira</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                     href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Jira Project</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
                <!-- Portfolio Grid Items-->
                <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">No of Release</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
  {% for project in projects %}
     <tr>
      <th scope="row">{{project.jira.id}}</th>
      <td>{{project.jira.key}}</td>
      <td>{{project.jira.projectCategory.name}}</td>
      <td>{{project.details.versions|length}}</td>
      <td>{{project.jira.projectCategory.description}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
                <!-- Contact Section Form-->
    </div>
</section>

{% endblock %}